.ct1{
  padding-top: 15vh;
  padding-bottom: 25vh;
}
.user{
  width: 70%;
  height: 30vh;
  border-color: rgb(0, 0, 0);
  border-radius: 15px;
  background-color: rgb(167, 75, 75);
  font-size: 2rem;

}
.bi-bandaid{
  padding-right: 3%;
}
.user:hover{
  background-color: rgb(214, 212, 212);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.order{
  width: 70%;
  height: 30vh;
  border-color: rgb(10, 10, 10);
  background-color: rgb(103, 107, 106);
  border-radius: 15px;
  font-size: 2rem;
}
.order:hover{
  background-color: rgb(214, 212, 212);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.item{
  width: 70%;
  height: 30vh;
  border-color: rgb(0, 0, 0);
  background-color: #f1e1a6;
  border-radius: 15px;
  font-size: 2rem;
}
.item:hover{
  background-color: rgb(214, 212, 212);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.cl1{
  align-items: center;
}
