.ct1{
  padding-left: 0 !important;
  width: 100%;

}
.hdr{
  height: 82vh;
  width: 100%;
  padding-top: 8vh;
}
.hdr2{
  height: 82vh;
  width: 100%;
  padding-top: 8vh;
  
}
.hdr1, .hdr3{
  height: 78vh;
  width: 100%;
  
}
.cl1{
  padding-left: 2%;
}

h1{
  padding-top: 14vh;
  padding-bottom: 8VH;
  color: rgb(172, 3, 3);
  text-align: center;
}
p{
  text-align: center;
  font-size: 1.4rem;
  color: rgb(145, 80, 80);
  padding-bottom: 4vh;
}
