<div class="container-fluid ct1">
  <div class="row rw1">
    <h1> KID'S SHOES </h1>

  </div>
  <div class="row">
    <div class="col-3 cl1">
      <img class="hdr"  src="assets/Images/k4.webp">
    </div>
    <div class="col-3 cl2">
      <img class="hdr1"  src="assets/Images/k2.webp">
    </div>
    <div class="col-3 cl3">
      <img class="hdr2"  src="assets/Images/k3.webp">
    </div>
    <div class="col-3 cl4">
      <img class="hdr3"  src="assets/Images/k1.webp">
    </div>
  </div>
</div>

