<div class="container-fluid">
  <div class="raw">
    <img alt="logo" class="hdr" width="320px" height="90px"  src="assets/Images/logo.png">
  </div>
  <div class="raw rw1">
    <ul>
      <li><a class="active" href="#" >HOME</a></li>
      <li><a href="#" [routerLink]="['/branches']">BRANCHES</a></li>
      <li><a href="#" [routerLink]="['/shop']">SHOP</a></li>
      <li><a href="#" [routerLink]="['/login']">PROFILE</a></li>
      <li><a href="#" [routerLink]="['/cart']"><i class="bi bi-bag"></i></a></li>
      <!-- <li><a href="#about" [routerLink]="['/admin']">ADMIN</a></li> -->
    </ul>
  </div>
</div>
