<div class="container-fluid">
  <div class="raw">
    <img alt="logo" class="hdr" width="250px" height="135px"  src="assets/Images/logo2.png">
  </div>
  <div class="raw rw1">
    <ul>
      <li><a class="active" href="#" >HOME</a></li>
      <li><a href="#" [routerLink]="['/branches']">BRANCHES</a></li>
      <li><a href="#" [routerLink]="['/shop']">SHOP</a></li>
      <li><a href="#" [routerLink]="['/login']">PROFILE</a></li>
      <li><a href="#" [routerLink]="['/cart']"><i class="bi bi-cart-check" style="height: 25px;width: 25px"></i></a></li>
      <li><a href="#about" [routerLink]="['/message']">CONTACT US</a></li>
    </ul>
  </div>
</div>
