<div class="container-fluid">
  <div class="row rowmain">
    <div class="col-4 claddress">
      <h5> WE ARE IN</h5>
      <p> 331A Jaya Rd, <br>
        Nugegoda Colombo <br>
        00700
      </p>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-6"><img class="hdr1"  src="assets/Images/logo2.png"></div>
      </div>
      <div class="row rw1">
        <p class="rw1"> © My Shoes 2023 </p>
      </div>
    </div>
    <div class="col-4 clcontact">
      <h5> CONTACT US</h5>
      <p>  <i class="bi bi-telephone"></i>  011-2134567 <br>
        <i class="bi bi-whatsapp"></i> My Shoes<br>
        <i class="bi bi-envelope"></i> myshoes@gmail.com
      </p>
    </div>
  </div>
</div>
