.hdr1{
  width: 180%;
  margin-left: 15%;
}
.rowmain{
  height: 45vh;
  margin-top: 15vh !important;
}
.claddress{
  padding-left: 10%;
  padding-top: 5vh;

}
.clcontact{
  padding-left: 10%;
  padding-top: 5vh;

}
h5{
  font-size: 1.4rem;
  color: rgb(172, 3, 3);
  font-weight: 700;
}
p{
  color: rgb(145, 80, 80);
}
.rw1{
  text-align: center;
}
